@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* colors: */
      --color-base:#404040;
      --color-baseLight:#404040;
      --color-bg:#F9F4F4;
      --color-main: #95C50B;
      --color-accentB: #069BD5;
      --color-accentY: #069BD5;
      
    }
    
    @font-face {
      font-family: Quicksand;
      font-style: normal;
      font-weight: 200 700;
      src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("woff2");
    }
   
    @font-face {
      font-family: Concert;
      font-style: normal;
      font-weight: 200 700;
      src: url("/public//fonts/ConcertOne-Regular.ttf") format("woff2");
    }
   

    
    